In [4]:
from sqlalchemy import create_engine, text
import contextlib, pymysql, os, urllib.request
import pandas as pd

In [5]:
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/Vallit0/SS2_EVD2025/main/clase5/"
COMPRAS_URL = DOWNLOAD_ROOT + "compras.csv"
VENTAS_URL = DOWNLOAD_ROOT + "ventas.csv"

COMPRAS_PATH = os.path.join("crudos", "compras")
VENTAS_PATH = os.path.join("crudos", "ventas")

def descargar_csv(url, destino, nombre):
    os.makedirs(destino, exist_ok=True)
    path_final = os.path.join(destino, nombre)
    urllib.request.urlretrieve(url, path_final)
    print(f"{nombre} descargado exitosamente")

def descargar_sql(url, destino, nombre):
    os.makedirs(destino, exist_ok=True)
    path_final = os.path.join(destino, nombre)
    urllib.request.urlretrieve(url, path_final)
    print(f"{nombre} SQL Descargado")

descargar_csv(COMPRAS_URL, COMPRAS_PATH, "compras.csv")
descargar_csv(VENTAS_URL, VENTAS_PATH, "ventas.csv")

compras.csv descargado exitosamente
ventas.csv descargado exitosamente

In [7]:
compras = pd.read_csv(os.path.join(COMPRAS_PATH, "compras.csv"))
ventas  = pd.read_csv(os.path.join(VENTAS_PATH,  "ventas.csv"))

compras.head()

,Fecha,CodProveedor,NombreProveedor,CodProducto,NombreProducto,MarcaProducto,Categoria,CodSucursal,NombreSucursal,Region,Departamento,Unidades,CostoUnitario
0,11/11/2019,P0001,Mercedes Flavio Guerra Pizarro,AC00002,Cerveza Hofbrau Munchen,ZENU,Vinos y Licores,S0004,Sucursal Oeste,Occidente,Huehuetenango,368,285.09
1,08/12/2022,P0001,Mercedes Flavio Guerra Pizarro,AC00003,Queso Camembert,MONTICELLO,Charcutería,S0003,Sucursal Este,Nororiente,Zacapa,235,435.59
2,28/10/2022,P0001,Mercedes Flavio Guerra Pizarro,AC00001,Gaseosa Postobon Uva,POSTOBON,Bebidas,S0001,Sucursal Norte,Metropolitana,Guatemala,282,223.50
3,08/07/2018,P0001,Mercedes Flavio Guerra Pizarro,AC00003,Queso Camembert,MONTICELLO,Charcutería,S0004,Sucursal Oeste,Occidente,Huehuetenango,261,452.27
4,16/08/2020,P0001,Mercedes Flavio Guerra Pizarro,AC00006,Vino espumoso Rothberg,SINFONIA,Vinos y Licores,S0002,Sucursal Sur,Suroccidente,Quetzaltenango,612,82.30

In [108]:
# Definicion de credenciales de base de datos

DB_USER = 'dba'
DB_PASSWORD = 'Ss2_USAC2025#'
DB_HOST = 'localhost'
DB_PORT = '3306'
DB_NAME = 'mysql'

connection_string = (
    f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

In [109]:
# DDL

sql_script_drop_db = """
DROP DATABASE DWH;
"""

sql_script_create_db = """
CREATE DATABASE IF NOT EXISTS DWH;
"""

sql_script_create_table_dim_fecha = """
CREATE TABLE DWH.dim_fecha (
    id_fecha    INT PRIMARY KEY,
    anio        INT NOT NULL,
    nombre_mes  NVARCHAR(20),
    trimestre   NVARCHAR(20),
    dia         NVARCHAR(20),
    mes         INT NOT NULL
);
"""

sql_script_create_table_dim_producto= """
CREATE TABLE DWH.dim_producto (
    CodProducto     NVARCHAR(50) PRIMARY KEY,
    NombreProducto  NVARCHAR(200),
    MarcaProducto   NVARCHAR(100),
    Categoria       NVARCHAR(100)
);
"""

sql_script_create_table_dim_sucursal= """
CREATE TABLE DWH.dim_sucursal (
    CodSucursal     NVARCHAR(50) PRIMARY KEY,
    NombreSucursal  NVARCHAR(200),
    Region          NVARCHAR(100),
    Departamento    NVARCHAR(100)
);
"""

sql_script_create_table_dim_cliente= """
CREATE TABLE DWH.dim_cliente (
    CodCliente      NVARCHAR(50) PRIMARY KEY,
    NombreCliente   NVARCHAR(200),
    TipoCliente     NVARCHAR(100)
);
"""

sql_script_create_table_dim_vendedor= """
CREATE TABLE DWH.dim_vendedor (
    CodVendedor     NVARCHAR(50) PRIMARY KEY,
    NombreVendedor  NVARCHAR(200)
);
"""

sql_script_create_table_dim_proveedor= """
CREATE TABLE DWH.dim_proveedor (
    CodProveedor    NVARCHAR(50) PRIMARY KEY,
    NombreProveedor NVARCHAR(200)
);
"""

sql_script_create_table_fac_ventas= """
CREATE TABLE DWH.fac_ventas (
    id_venta        INT AUTO_INCREMENT PRIMARY KEY,
    id_fecha        INT NOT NULL,
    CodProducto     NVARCHAR(50) NOT NULL,
    CodSucursal     NVARCHAR(50) NOT NULL,
    CodCliente      NVARCHAR(50) NOT NULL,
    CodVendedor     NVARCHAR(50) NOT NULL,
    unidades        INT NOT NULL,
    precioUnitario  DECIMAL(10,2)
);
"""
sql_script_create_table_fac_compras= """
CREATE TABLE DWH.fac_compras (
    id_compra       INT AUTO_INCREMENT PRIMARY KEY,
    id_fecha        INT NOT NULL,
    CodProducto     NVARCHAR(50) NOT NULL,
    CodSucursal     NVARCHAR(50) NOT NULL,
    CodProveedor    NVARCHAR(50) NOT NULL,
    unidades        INT NOT NULL,
    costoUnitario   DECIMAL(10,2),
    FOREIGN KEY (id_fecha)     REFERENCES dim_fecha(id_fecha),
    FOREIGN KEY (CodProducto)  REFERENCES dim_producto(CodProducto),
    FOREIGN KEY (CodSucursal)  REFERENCES dim_sucursal(CodSucursal),
    FOREIGN KEY (CodProveedor) REFERENCES dim_proveedor(CodProveedor)
);
"""

In [110]:
engine = create_engine(connection_string, echo=True)
print(f"Engine created: {engine}")

try:
    with engine.connect() as connection:
        connection.execute(text(sql_script_drop_db))
        connection.commit();
        print("Base de datos eliminada.")
        connection.execute(text(sql_script_create_db))
        connection.commit();
        print("Base de datos creada.")
        connection.execute(text(sql_script_create_table_dim_fecha))
        connection.execute(text(sql_script_create_table_dim_producto))
        connection.execute(text(sql_script_create_table_dim_sucursal))
        connection.execute(text(sql_script_create_table_dim_cliente))
        connection.execute(text(sql_script_create_table_dim_vendedor))
        connection.execute(text(sql_script_create_table_dim_proveedor))
        connection.execute(text(sql_script_create_table_fac_ventas))
        connection.execute(text(sql_script_create_table_fac_compras))
        connection.commit();
    print("DDL ejecutado correctamente.")
except Exception as e:
    print(f"Error al ejecutar DDL: {e}")

Engine created: Engine(mysql+pymysql://dba:***@localhost:3306/mysql)
2025-12-11 13:34:22,470 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-11 13:34:22,472 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-11 13:34:22,477 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-11 13:34:22,478 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-11 13:34:22,483 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-11 13:34:22,484 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-11 13:34:22,491 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-11 13:34:22,493 INFO sqlalchemy.engine.Engine
DROP DATABASE DWH;

2025-12-11 13:34:22,498 INFO sqlalchemy.engine.Engine [generated in 0.00690s] {}
2025-12-11 13:34:22,717 INFO sqlalchemy.engine.Engine COMMIT
Base de datos eliminada.
2025-12-11 13:34:22,733 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-11 13:34:22,734 INFO sqlalchemy.engine.Engine
CREATE DATABASE IF NOT EXISTS DWH;

2025-12-11 13:34:22,742 INFO sqlalchemy.engine.Engine [generated in 0.00879s] {}
2025-12-11 13:34:22,754 INFO sqlalchemy.engine.Engine COMMIT
Base de datos creada.
2025-12-11 13:34:22,758 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-11 13:34:22,775 INFO sqlalchemy.engine.Engine
CREATE TABLE DWH.dim_fecha (
    id_fecha    INT PRIMARY KEY,
    anio        INT NOT NULL,
    nombre_mes  NVARCHAR(20),
    trimestre   NVARCHAR(20),
    dia         NVARCHAR(20),
    mes         INT NOT NULL
);

2025-12-11 13:34:22,809 INFO sqlalchemy.engine.Engine [generated in 0.05039s] {}
2025-12-11 13:34:22,984 INFO sqlalchemy.engine.Engine
CREATE TABLE DWH.dim_producto (
    CodProducto     NVARCHAR(50) PRIMARY KEY,
    NombreProducto  NVARCHAR(200),
    MarcaProducto   NVARCHAR(100),
    Categoria       NVARCHAR(100)
);

2025-12-11 13:34:22,993 INFO sqlalchemy.engine.Engine [generated in 0.00896s] {}
2025-12-11 13:34:23,172 INFO sqlalchemy.engine.Engine
CREATE TABLE DWH.dim_sucursal (
    CodSucursal     NVARCHAR(50) PRIMARY KEY,
    NombreSucursal  NVARCHAR(200),
    Region          NVARCHAR(100),
    Departamento    NVARCHAR(100)
);

2025-12-11 13:34:23,181 INFO sqlalchemy.engine.Engine [generated in 0.00904s] {}
2025-12-11 13:34:23,403 INFO sqlalchemy.engine.Engine
CREATE TABLE DWH.dim_cliente (
    CodCliente      NVARCHAR(50) PRIMARY KEY,
    NombreCliente   NVARCHAR(200),
    TipoCliente     NVARCHAR(100)
);

2025-12-11 13:34:23,405 INFO sqlalchemy.engine.Engine [generated in 0.00234s] {}
2025-12-11 13:34:23,514 INFO sqlalchemy.engine.Engine
CREATE TABLE DWH.dim_vendedor (
    CodVendedor     NVARCHAR(50) PRIMARY KEY,
    NombreVendedor  NVARCHAR(200)
);

2025-12-11 13:34:23,515 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {}
2025-12-11 13:34:23,560 INFO sqlalchemy.engine.Engine
CREATE TABLE DWH.dim_proveedor (
    CodProveedor    NVARCHAR(50) PRIMARY KEY,
    NombreProveedor NVARCHAR(200)
);

2025-12-11 13:34:23,566 INFO sqlalchemy.engine.Engine [generated in 0.00600s] {}
2025-12-11 13:34:23,623 INFO sqlalchemy.engine.Engine
CREATE TABLE DWH.fac_ventas (
    id_venta        INT AUTO_INCREMENT PRIMARY KEY,
    id_fecha        INT NOT NULL,
    CodProducto     NVARCHAR(50) NOT NULL,
    CodSucursal     NVARCHAR(50) NOT NULL,
    CodCliente      NVARCHAR(50) NOT NULL,
    CodVendedor     NVARCHAR(50) NOT NULL,
    unidades        INT NOT NULL,
    precioUnitario  DECIMAL(10,2)
);

2025-12-11 13:34:23,628 INFO sqlalchemy.engine.Engine [generated in 0.00472s] {}
2025-12-11 13:34:23,693 INFO sqlalchemy.engine.Engine
CREATE TABLE DWH.fac_compras (
    id_compra       INT AUTO_INCREMENT PRIMARY KEY,
    id_fecha        INT NOT NULL,
    CodProducto     NVARCHAR(50) NOT NULL,
    CodSucursal     NVARCHAR(50) NOT NULL,
    CodProveedor    NVARCHAR(50) NOT NULL,
    unidades        INT NOT NULL,
    costoUnitario   DECIMAL(10,2),
    FOREIGN KEY (id_fecha)     REFERENCES dim_fecha(id_fecha),
    FOREIGN KEY (CodProducto)  REFERENCES dim_producto(CodProducto),
    FOREIGN KEY (CodSucursal)  REFERENCES dim_sucursal(CodSucursal),
    FOREIGN KEY (CodProveedor) REFERENCES dim_proveedor(CodProveedor)
);

2025-12-11 13:34:23,694 INFO sqlalchemy.engine.Engine [generated in 0.00118s] {}
2025-12-11 13:34:23,870 INFO sqlalchemy.engine.Engine COMMIT
DDL ejecutado correctamente.